
@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/assets/css/rates.css">

}

<section id="delivery">
    <div class="container">
        <div class="row">
            <div class="rate-wrapper from-türkiye col-12">
                <div class="row to-branch justify-content-center">
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.001 kq-dan 0.100 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">1.00  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">1.00  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.101 kq-dan 0.25 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">2.00  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">2.00  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.251 kq-dan 0.500 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">3.00  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">3.00  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.501 kq-dan 0.750 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">3.50  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">3.50  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.751 kq-dan 1 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">3.90  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">3.90  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>1 kq-dan 5 kq-a qədər (Hər kiloqram üçün)</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">3.90  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">3.90  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>5 kq və artıq (Hər kiloqram üçün)</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">3.50  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">3.50  </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row to-address justify-content-center" style="display: none;">
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.001 kq-dan 0.100 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">1.50  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">1.50  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.101 kq-dan 0.25 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">2.50  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">2.50  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.251 kq-dan 0.500 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">3.50  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">3.50  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.501 kq-dan 0.750 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">4.00  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">4.00  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.751 kq-dan 1 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">4.40  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">4.40  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>1 kq-dan 5 kq-a qədər (Hər kiloqram üçün)</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">4.40  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">4.40  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>5 kq və artıq (Hər kiloqram üçün)</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">4.00  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">4.00  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rate-wrapper from-usa col-12" style="display: none;">
                <div class="row to-branch justify-content-center">
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.001 kq-dan 0.250 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">2.30  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">2.30  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.251 kq-dan 0.500 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">4.30  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">4.30  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.501 kq-dan 0.750 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">6.30  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">6.30  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.751 kq-dan 1 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">6.80  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">6.80  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>1 kq-dan 5 kq-a qədər (Hər kiloqram üçün)</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">6.50  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">6.50  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>5 kq və artıq (Hər kiloqram üçün)</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">6.30  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">6.30  </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row to-address justify-content-center" style="display: none;">
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.001 kq-dan 0.250 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">2.80  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">2.80  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.251 kq-dan 0.500 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">4.80  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">4.80  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.501 kq-dan 0.750 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">6.80  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">6.80  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>0.751 kq-dan 1 kq-a qədər</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">7.30  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">7.30  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>1 kq-dan 5 kq-a qədər (Hər kiloqram üçün)</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">7.00  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">7.00  </span>
                            </div>
                        </div>
                    </div>
                    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="condition">
                            <i class="icon">
                                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
                            </i>
                            <b>5 kq və artıq (Hər kiloqram üçün)</b>
                        </div>
                        <div class="detail d-flex">
                            <div class="normal col-6 d-flex flex-column">
                                <span class="title">Adi məhsul</span>
                                <span class="price">6.80  </span>
                            </div>
                            <div class="liquid col-6 d-flex flex-column">
                                <span class="title">Maye və kosmetik</span>
                                <span class="price">6.80  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="calculator">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12  col-xl-12 col-lg-12 col-md-12 calculator py-5">
                <div class="col-12">
                    <div class="country d-flex">
                        <select class="col-8 d-flex" name="country" id="country">
                            <option value="usa">Türkiyə</option>
                            <option value="türkiye">ABŞ</option>
                        </select>
                    </div>
                    <div class="method-type d-flex">
                        <select class="col-3" name="method" id="method">
                            <option value="address">Birbaşa ünvana çatdırılma</option>
                            <option value="branch">Filiala çatdırılma</option>
                        </select>
                        <select class="col-3" name="method" id="method">
                            <option value="liquid">Maye və kosmetik</option>
                            <option value="normal">Adi məhsul</option>
                        </select>
                    </div>
                    <div class="dimensions d-flex">
                        <input class="col-3" id="width" type="number" min="0" placeholder="En">
                        <div class="div-1">sm</div>
                        <input class="col-3" id="length" type="number" min="0" placeholder="Uzunluq">
                        <div class="div-2">sm</div>
                    </div>
                    <div class="dimensions d-flex">
                        <input class="col-3" id="height" type="number" min="0" placeholder="Hündürlük">
                        <div class="div-1">sm</div>
                        <input class="col-3" id="weight" type="number" min="0" placeholder="Çəki">
                        <div class="div-2">kq</div>
                    </div>
                    <div class="btn-wrap d-flex justify-content-center">
                        <div class="calculate btn">
                            Hesabla
                        </div>
                    </div>
                    <div class="result d-flex justify-content-center">
                        <b id="result">0.00</b>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/js/shared.js"></script>
    <script src="~/assets/js/rates.js"></script>
    <script src="~/assets/js/calculator.js"></script>
    <!-- LOCAL JS ENDS -->
    <!-- COUNTUP CDN STARTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.9.3/countUp.js"
        integrity="sha512-C/7jeRahXJbaKh+NVXBiX8Mw/9kiJxCP2uEzMTQPzqzylSfzgqWxJDYYW+IrrweOFov66E2mr8JAADL7oGOY1w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
    </script>
}
