@model IEnumerable<AlfaKuryer.Application.Dtos.RateDtos.RateGetDto>
@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/assets/css/rates.css">

}

<section id="delivery" style="margin: 20px">
    <div class="container">
        <div class="row">

            <div class="rate-wrapper from-türkiye col-12">
                <div class="row to-branch justify-content-center">
                    @foreach (var item in Model)
                    {
                        <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                            <div class="condition">

                                <i style="color: #d3d3e4;" class="fa-solid fa-truck-fast"></i>
                                <b>@item.From  -  @item.To</b>
                            </div>
                            <div class="detail">
                                <div class="normal col-6 d-flex flex-column">
                                    <span class="price">@item.Price AZN </span>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/js/index.js"></script>
    <script src="~/assets/js/rates.js"></script>
    <!-- LOCAL JS ENDS -->
    <!-- COUNTUP CDN STARTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.9.3/countUp.js"
            integrity="sha512-C/7jeRahXJbaKh+NVXBiX8Mw/9kiJxCP2uEzMTQPzqzylSfzgqWxJDYYW+IrrweOFov66E2mr8JAADL7oGOY1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
}
