@using AlfaKuryer.Application.Dtos.CItyDtos;
@using AlfaKargo.App.areas.ViewModels; 
@model UpdateVewModel<CityPostDto,CityGetDto>
<div class="card">
    <div class="card-header">
        Düzəliş et
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">

                <form asp-action="Update" class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group  col-md-6">
                        <label class="control-label">BaşlıqAz</label>
                        <input asp-for="PostDto.Name" value="@Model.GetDto.Name;" class="form-control" />
                        <span asp-validation-for="PostDto.Name"></span>
                    </div>

                    <div class="col-md-12 mt-3">
                        <a class="btn btn-dark" asp-action="index"><i class="fas fa-undo"></i> Siyahıya geri dön</a>
                        <input type="submit" value="Yenilə" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>