@model IEnumerable<AlfaKuryer.Application.Dtos.NewsDtos.NewsGetDto>

@{
    ViewData["Title"] = "Index";
}


@section css{
    <link rel="stylesheet" href="~/assets/css/news.css">
}
<section id="news">
  
    <div class="container">
        <div class="row gap-4 justify-content-center" style="margin-bottom: 5rem;">
            @foreach (var item in Model)
            {
                <a asp-controller="news" asp-action="detail" asp-route-title="@item.Title" asp-route-id="@item.Id" class="card col-lg-3 col-md-5 col-sm-12">
                    <img src="/assets/imgs/news/@item.Image" alt="">
                    <div class="detail noselect d-flex flex-column justify-content-evenly">
                        <b class="title d-block">@item.Title</b>
                        <span class="posted-date d-block">@item.CreatedAt.ToString("MM/dd/yyyy")</span>
                    </div>
                </a>

            }
        </div>
   
    </div>
</section>
@section Scripts{
    <script src="~/assets/js/news.js"></script>

}
