@using AlfaKargo.App.areas.ViewModels;
@using AlfaKuryer.Application.Dtos.PriceDtos;
@model UpdateVewModel<PricePostDto,PriceGetDto>

@{
    ViewData["Title"] = "Update";
}

<div class="card">
    <div class="card-header">
        Düzəliş et
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
                <form asp-action="update" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group col-md-4">
                        <label class="control-label">Kq-a qədər</label>
                        <input asp-for="PostDto.UntilKq" value="@Model.GetDto?.UntilKq" class="form-control" />
                        <span asp-validation-for="PostDto.UntilKq" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Minimum qiymət</label>
                        <input asp-for="PostDto.MinPrice" value="@Model.GetDto?.MinPrice" class="form-control" />
                        <span asp-validation-for="PostDto.MinPrice" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label">Kq-başına qiymət </label>
                        <input asp-for="PostDto.Kq" value="@Model.GetDto?.Kq" class="form-control" />
                        <span asp-validation-for="PostDto.Kq" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Kq başına qiymət</label>
                        <input asp-for="PostDto.Price" value="@Model.GetDto?.Price" class="form-control" />
                        <span asp-validation-for="PostDto.Price" class="text-danger"></span>
                    </div>

                    <div class="col-md-12 mt-3">
                        <a class="btn btn-dark" asp-action="index"><i class="fas fa-undo"></i> Siyahıya geri dön</a>
                        <input type="submit" value="Əlavə et" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
