@using AlfaKuryer.Application.Dtos.PriceDtos;
@model  IEnumerable<PriceGetDto>
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
       Qiymət
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>
                    Ərazi
                </th>
                <th>
                    Qiymət
                </th>
                <th>
                    Üsull
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(item.Location?"Şəhər daxili":"Şəhər xarici")
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @(item.IsFast?"Sürətli":"Sadə") çatdırılma
                    </td>

                    <td>
                        <a asp-controller="Price" asp-action="update" asp-route-id="@item.Id"><i class="fas btn btn-primary fa-edit"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>