@using AlfaKuryer.Application.Dtos.SettingDtos;
@model  SettingGetDto
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        Logo
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>
                    Adress
                </th>
                <th>
                    Şəkil
                </th>
                <th></th>
            </tr>


            <tr>
                <td>
                    @Model?.Adress
                </td>
                <td>
                    <img src="~/assets/imgs/Logo/@Model?.Logo" width="100" height="100" alt="Alternate Text" />
                </td>

                <td>
                    <a asp-controller="setting" asp-action="update"><i class="fas btn btn-primary fa-edit"></i></a>
                </td>
            </tr>
        </table>
    </div>
</div>