@using AlfaKuryer.Application.Dtos.IdentityDtos;
@model RegisterDto
<div class="card">
    <div class="card-header">
        Yenisini əlavə et
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">

                <form asp-action="CreateCassir" class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Ad</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Soyad</label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname"></span>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Email</label>
                        <input type="email" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <input hidden asp-for="Role" value="Cassir" />
            
              
                    <input checked hidden asp-for="IsAgree" />
                    <div class="form-group  col-md-6">
                        <label class="control-label">Telefon</label>
                        <input type="text" asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
            
                    <div class="form-group  col-md-6">
                        <label class="control-label">Şifrə</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Şifrə yenidən</label>
                        <input asp-for="VerifyPassword" class="form-control" />
                        <span asp-validation-for="VerifyPassword"></span>
                    </div>
                    <div class="col-md-12 mt-3">
                        <a class="btn btn-dark" asp-action="Couriers"><i class="fas fa-undo"></i> Siyahıya geri dön</a>
                        <input type="submit" value="Əlavə et" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>